<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HBS - Template Engine</title>
</head>

<body>

    <p> Welcome {{currentUser}}, to HBS! </p>

</body>

</html>